<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <label for="firstname">Enter firstname</label>
  <input type="text" th:field="*{firstname}" id="firstname"/>
  <br/>
  <label for="lastname">Enter lastname: </label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br/>
  <label for="age">Enter age</label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="email">Enter email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username">
  <br/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password">
  <p>
    <label>Access rights
      <input type="checkbox" name="listRoles"
             th:each="rol : ${listRoles}"
             th:text="${rol.getNoPrefix()}"
             th:value="${rol.role}"
             th:field="*{roles}"
      />
    </label>
  </p>
  <input type="submit" value="Create!"/>
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout"/>
</form>
<br/>
<h4><a href="/admin/users">List of users</a></h4>
</body>
</html>